
.edit-mobile-container {
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 639px;
    background: #FFFFFF;
    border: 2px solid var(--Colors-Brand-Primary-100, #004A4C);
    border-radius: 20px;
    position: relative;
  }
  
  .edit-mobile-header {
    display: flex;
    align-items: center;
    padding: 20px 16px;
    gap: 16px;
    font-family: 'Bai Jamjuree';
  }
  
  .edit-mobile-header span {
    font-family: 'Bai Jamjuree';
    font-size: 16.49px;
    font-weight: 500;
    line-height: 23.08px;
    letter-spacing: -0.035em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color:  #292927;

  }
  
  
  .back-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  
  .edit-mobile-form-container {
    padding: 5px 16px;
    flex: 1;
    gap:21.32px;
    height: 262px;

  }
  
  .edit-mobile-form {
    background: #EBEBE6;
    border-radius: 24px;
    padding: 32px 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  
.arrow-icon {
   margin-left: 10px;

}

.edit-mobile-text span {
    font-family: 'Bai Jamjuree';
    font-size: 12.44px;
    font-weight: 500;
    line-height: 18.67px;
    letter-spacing: -0.025em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}
  .edit-mobile-verify-text span {
    font-family: 'Bai Jamjuree';
    font-size: 10.67px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.02em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

  }
  .mobile-input-group {
    width: 270.93px;
    height: 49.73px;
    padding: 10px;
    gap: 1px;
    border-radius: 14.52px;
    border: 1.78px 0px 0px 0px;
    opacity: 0px;
    background-color: #FAFAF9;
    border: #EBEBE6;
  }

  .mobile-input-group input {
    background: transparent;
    border: none;
    font-family: 'Bai Jamjuree';
    font-weight: 500;
    font-size: 14.21px;
    width: 100%;
    color: #292927;
    padding-left: 5px;
    margin-top: -4px;    
  }
  
  .mobile-input-group input:focus {
    outline: none;
  }

  .mobile-input-group ::placeholder {
    color: #E2E1DA;
    font-family: Bai Jamjuree;
    font-size: 14.22px;
    font-weight: 500;
    line-height: 21.33px;
    letter-spacing: -0.025em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    gap: 5px;
  }

  
  .update-mobile-button {
    width: 270.93px;
    height: 49.74px;
    border-radius: 326px;
    opacity: 0px;
    background-color: #004A4C;
    color: #FAFAF9;
    font-family: 'Bai Jamjuree';
  font-weight: 600;
  
  }
  .update-mobile-button:hover{
    border-color: #E2E1DA;
  }
  .update-mobile-button.disabled{
    background: #E2E1DA;
    color: #52524D;
    cursor: not-allowed;
  }

  .delete-mobile-number{
    width: 270.93px;
    height: 49.74px;
    top: 386px;
    left: 45px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border-radius: 326.74px;
    background-color: #EBEBE6;
    color: #FF6565;
    border-color: #FF6565;
    font-size: 14px;
    font-family: 'Bai Jamjuree';
    font-size: 14.21px;
    font-weight: 600;
    line-height: 21.32px;
    margin-top: 34px;
    margin-left: 24px;

  }
 /* Add this if you want to remove the focus outline completely */
.delete-mobile-number:focus {
  outline: none;
}
.delete-mobile-number:hover{
  border-color: #FF6565;
}
.delete-mobile-number.disabled {
  color: #A3A29E;
  cursor: not-allowed;
  border-color: #EBEBE6;
}

  .navigation-edit-mobile {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 77px;
    width: 356px;
    background: var(--surface-surface-neutral-2, #EBEBE6);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 0 0 18px 18px;
    padding: 30px;
    z-index: 2;
}
  
  /* Media Queries */
  @media screen and (max-width: 480px) {
    .edit-mobile-container {
      border: none;
      border-radius: 0;
      height: 100vh;
    }
  
    .bottom-nav {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 10;
      }
  
      .navigation-edit-mobile {
          display: flex;
          height: 64px;
          gap: 0px;
          opacity: 1; /* Ensure it is visible */
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          width: 100vw; /* Full width on small screens */
          left: 0; 
          background: #EBEBE6;
          padding: 0 20px;
          box-sizing: border-box;
          bottom: 0;
          border-radius: 0%;

      }
  }
