html, body {
    height: 100%; /* Ensure the body fills the viewport */
    overflow: hidden; /* Disable scrolling */
    margin: 0; /* Remove any default margins */
    padding: 0;
}
  
  .min-h-screen {
    min-height: 100vh;
  }
  
  .p-4 {
    padding: 1rem;
  }
  
  .max-w-lg {
    max-width: 32rem;
  }
  
  .mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
  
  .bg-white {
    background-color: #ffffff;
  }
  
  .rounded-lg {
    border-radius: 0.5rem;
  }
  
  .shadow-md {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }
  
  .overflow-hidden {
    overflow: hidden;
  }
  
  .flex {
    display: flex;
  }
  
  .justify-between {
    justify-content: space-between;
  }
  
  .items-center {
    align-items: center;
  }
  
  .mb-4 {
    margin-bottom: 1rem;
  }
  
  .text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  
  .font-semibold {
    font-weight: 600;
  }
  
  .border {
    border-width: 1px;
  }
  
  .rounded {
    border-radius: 0.25rem;
  }
  
  .px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  
  .py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }
  
  .text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  
  .text-right {
    text-align: right;
  }
  
  .text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
  
  .font-medium {
    font-weight: 500;
  }
  
  .mt-4 {
    margin-top: 1rem;
  }
  
  .bg-teal-700 {
    background-color: #0f766e;
  }
  
  .text-white {
    color: #ffffff;
  }
  
  .text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
  
  .font-bold {
    font-weight: 700;
  }
  
  .justify-around {
    justify-content: space-around;
  }
  
  .text-gray-600 {
    color: #4b5563;
  }
  
  .h-6 {
    height: 1.5rem;
  }
  
  .w-6 {
    width: 1.5rem;
  }
  
  .bg-orange-300 {
    background-color: #fcd34d;
  }
  
  .rounded-full {
    border-radius: 9999px;
  }
  
  .p-2 {
    padding: 0.5rem;
  }
  
  /* Additional styles for the chart */
  .chart-container {
    max-width: 1200px;
   margin-top: -50px;
    background: var(--surface-surface-neutral-2, #EBEBE6);
    border-radius: 30px;
  }
  
  .recharts-wrapper {
    margin: 0 auto;
  }
  
  .recharts-surface {
    overflow: visible;
  }
  
  .recharts-xAxis .recharts-cartesian-axis-tick-value {
    font-size: 10px;
  }
  
  /* Ensure SVG buttons are clickable */
  button svg {
    pointer-events: none;
  }
  
  /* Style for the select dropdown */
  select {
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='%234B5563'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M19 9l-7 7-7-7'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 0.5rem center;
    background-size: 1.5em 1.5em;
    padding-right: 2.5rem;
  }
  
  /* Ensure buttons don't have default styles */
  button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  .main-analytics-container {
    width: 100%;
    border: 2px solid var(--Colors-Brand-Primary-100, #004A4C);
    border-radius: 20px; /* Optional: For rounded corners */
    padding: 0px; /* Optional: Add padding inside the border */
  }
  .top-div{
    display: flex;
   margin-bottom: 40px;

  }
  .top-header {
    font-family: Bai Jamjuree;
    font-size: 18.32px;
    font-weight: 500;
    line-height: 25.65px;
    letter-spacing: -0.04em;
    text-align: left;
    margin-left: 25px;
    margin-top: 6px;

  }
  .top-btn {
    width: 89.31px;
    height: 36.64px;
    padding: var(--SpacingSpacing-xs8) var(--SpacingSpacing-md16) var(--SpacingSpacing-xs8) var(--SpacingSpacing-md16);
    gap: var(--SpacingSpacing-sm12);
    border-radius: 328.93px;
    opacity: 0px;
    background: var(--surface-surface-primary-100, #004A4C);
    margin-left: auto;
    margin-right: 25px;
}
.top-btn-text {
    font-family: Bai Jamjuree;
    font-size: 12.82px;
    font-weight: 600;
    line-height: 19.24px;
    letter-spacing: -0.025em;
    text-align: left;
    width: 60px;
    height: 19px;
    gap: 0px;
    opacity: 0px;


}
  .total-remaining-gas {
    width: 188.33px;
height: 25px;
gap: 0px;
opacity: 0px;
font-family: Bai Jamjuree;
font-size: 17.78px;
font-weight: 500;
line-height: 24.89px;
letter-spacing: -0.04em;
text-align: left;
color: var(--text-text-neutral-9, #292927);
margin-left: 20px;
margin-top: 20px;
  }

.consumption-total {
    font-family: Bai Jamjuree;
font-size: 38.67px;
font-weight: 500;
line-height: 51.2px;
letter-spacing: -0.05em;
text-align: left;
width: 146px;
height: 41px;
gap: 0px;
opacity: 0px;
color: var(--text-text-neutral-05, #FAFAF9);

}

.consumption-text {
    width: 280px;
    height: 19px;
    
    font-family: Bai Jamjuree;
    font-size: 12.44px;
    font-weight: 500;
    line-height: 18.67px;
    letter-spacing: -0.025em;
    text-align: left;
    color: var(--text-text-neutral-2, #EBEBE6);

}




  .dropdown-button {
    width: 91.22px;
    height: 28.44px;
    padding: var(--SpacingSpacing-xxs4) var(--SpacingSpacing-sm12) var(--SpacingSpacing-xxs4) var(--SpacingSpacing-sm12);
    gap: var(--SpacingSpacing-xs8);
    border-radius: 326px;
    border: var(--BorderBorderWidth-sm1);
    opacity: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f0f0;
    border: 1px solid #040000;
    border-radius: 20px;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    margin-top: 15px;
    margin-right: 20px;
    font-family: Bai Jamjuree;
    font-size: 10.67px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: -0.02em;
    text-align: left;
    z-index: 2;


  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  

  .dropdown-options-container {
    position: absolute;
    background: var(--colors-neutrals-95, #151513);
    border: 1px solid #555;
    border-radius: 13.31px;
    width: 90px;
    top: 100%;
    left: 0;
    z-index: 1;
    margin-top: -10px;
    border-top: none;
  }
  
  .dropdown-options {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .dropdown-option {
    padding: 3px;
    color: white;
    cursor: pointer;
    font-family: Bai Jamjuree;
    font-size: 10.65px;
    font-weight: 500;
    line-height: 15.98px;
    letter-spacing: -0.02em;

  }
  
  .dropdown-option:last-child {
    border-bottom: none;
  }
  

  .navigation{
    display: flex;
    height: 77px;
    border-radius: var(--Spacingnone0) 0px 20px 20px;
    border: 2px 0px 0px 0px;
    opacity: 0px;
    background: var(--surface-surface-neutral-2, #EBEBE6);
    width: 100%;
    display: flex;  
      flex-direction: row;  
      align-items: center;  
      justify-content: space-between;  
      border-radius: 0 0 20px 20px; 
    }
    
    .nav-item {
      padding: 10px;
      border-radius: 12px;
      transition: background-color 0.3s ease;
    }
    
    .nav-item.active {
      background-color: var(--surface-surface-secondary-100, #F7AB61);
      border-radius: 12px;
    }
    
    
    
    /* small screens */
    @media screen and (max-width: 480px) {
      .main-analytics-container {
        border: none;
        height: calc(100% - 64px); /* Account for the height of the navigation bar */
    overflow-y: auto; /* Allow inner scrolling for content */
      }

      .chart-container {
       margin-top: -0px;
     
      }
      
    
    .home-container{
      border: none;
    }
    
    .navigation{
      display: flex;
      height: 64px;
      opacity: 1; /* Ensure it is visible */
      flex-direction: row;
      justify-content: space-between;
      left: 0; 
      width: 100%;
      background: #EBEBE6;
      box-sizing: border-box;
      position: fixed;
      bottom: 0;
      opacity: 1; /* Ensure visibility */
      margin-bottom: 18px;
    }
    
    }
    

   
    


 