/* Base styles (mobile-first approach) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: 'Bai Jamjuree';
  background-color: #f8f8f8;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
  width: 360px;
  height: 639px;
  border-radius: 20px;
  border: 2px solid var(--Colors-Brand-Primary-100, #004A4C);
  padding: 14px;
}
.welcome-wrapper {
  display: flex;
  align-items: center;
  padding-top: -10px;
  width: 100%;
}


.home-container .welcome-text {
  font-family: 'Bai Jamjuree';
  font-size: 18.32px;
  font-weight: 500;
  line-height: 25.65px;
  letter-spacing: -0.04em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
    margin-right: 120px;
    margin-top: 2px;
    margin-bottom: 10px;

}


/* Main top card with minimum height */
.main-top-card {
  position: relative; /* Establish stacking context */
  background-color: #004A4C;
  padding: 10px;
  border-radius: 32px;
  width: 100%;
  min-height: 186px;
  margin-bottom: 5px;
  z-index: 2; /* Ensure it's above .home-analytic */
  margin-top: 15px;
}

.home-gas-data {
  width: 100%; /* Make sure the parent div takes full width */
  height: 30.64px;
  display: flex;
  align-items: center; /* Vertically centers the elements */
  padding-top:40px;
}

.total-gas-weight {
  /* font-family: 'Bai Jamjuree'; */
  font-size: 19.15px;
  font-weight: 500;
  line-height: 26.81px;
  letter-spacing: -0.04em;
  color: var(--text-text-neutral-05, #FAFAF9);
  width: auto; /* Allows the text to take up as much space as needed */
  height: 27px;
  margin-right: auto;
}

.total-gas-weight span{
  font-size: 15px;
  font-weight: 450;
}

.home-gas-btn {
  width: 76.98px;
  height: 30.64px;
  padding: var(--SpacingSpacing-xxs4) var(--SpacingSpacing-sm12) var(--SpacingSpacing-xxs4) var(--SpacingSpacing-sm12);
  gap: var(--SpacingSpacing-xs8);
  border-radius: 48px;
  background: var(--surface-surface-neutral-2, #EBEBE6);
  margin-left: auto; /* Pushes the button to the right */
}

.home-gas-text {
  width: 54px;
  height: 17px;
  gap: 0px;
  opacity: 0px;
  /* font-family: 'Bai Jamjuree'; */
  font-size: 11.49px;
  font-weight: 600;
  line-height: 17.23px;
  letter-spacing: -0.02em;
  text-align: left;
  color: var(--text-text-neutral-9, #292927);
  top: 10px;
}
.gas-pad {
  display: flex;
  margin-top: -10px;
}

.gas-pad-item span{
  font-family: 'Bai Jamjuree';
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.025em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #FAFAF9;
  margin-left: 7px;

}
.gas-pad-percentage {
  margin-left: auto;
}

.gas-pad-percentage span {
  font-family: 'Bai Jamjuree';
  font-size: 10px;
  font-weight: 300;
  line-height: 15px;
  letter-spacing: -0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #FAFAF9;
  padding-right: 10px;

}
.current-weight {  
  display: flex;  
  flex-direction: column;  
  justify-content: center;  
  align-items: center;  
  color: white;  
  padding-top: 10px;
}

.current-weight-text {  
  font-family: 'Bai Jamjuree';
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  
} 

.current-weight-kgs {
  /* font-family: 'Bai Jamjuree'; */
  font-size: 40px;
  font-weight: 500;
  line-height: 46.48px;
  letter-spacing: -0.045em;
  text-align: center;
  margin-bottom: 10px;

}

.days-remaining {
  /* font-family: 'Bai Jamjuree'; */
  font-family: 'Bai Jamjuree';
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.025em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-top: -25px;

}

.days-remaining span {
  font-family: 'Bai Jamjuree';
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: -0.025em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  

}

/* Responsive analytic section */
.home-analytic {
  display: flex;
  background: rgba(247, 171, 97, 1);
  width: 328px;
  height: 191.29px;
  padding: 120px var(--SpacingSpacing-lg24) 24px var(--SpacingSpacing-lg24);
  gap: 0px;
  border-radius: var(--RadiusRadius-xl32);
  opacity: 0px;
  border-radius: 32px;
  
  position: relative;
  top: -100px; /* Adjust this value to control overlap */
  padding: 15px;
}

.hometoday, .homeweek, .homeaverage {
  width: 33%;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--text-text-primary-100, #004A4C);
  padding-top: 90px;
}

.hometoday, .homeweek, .homeaverage svg {
  
  padding-top: 90px;
}


.sizing {
  /* font-family: 'Bai Jamjuree'; */
  font-size: 18px;
  font-weight: 600;
  line-height: 34.62px;
  letter-spacing: -0.025em;
  text-align: center;
  color: var(--text-text-primary-100, #004A4C);
  font-family:'Bai Jamjuree';

}

.highlight {
  font-size: 11px;
  color: #004A4C;
  font-family:'Bai Jamjuree';
}
.vertical-line {
  margin-top: 90px; /* Adjust value as needed */
}
.home-hub-card {
  width: 100%;
  background-color: #292927;
  border-radius: 32px;
  padding: 24px;
  color: #FAFAF9;
  margin-bottom: -20px;
  margin-top: -70px;

}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.status-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.status-container span {
  font-family: 'Bai Jamjuree';
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.025em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #FAFAF9;
}

.battery-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.battery-container span {
  font-family:'Bai Jamjuree';
  font-size: 10px;
  font-weight: 300;
  line-height: 15px;
  letter-spacing: -0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  
  color: #FAFAF9;
}

.card-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
}

.card-body::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 10%;
  height: 80%;
  width: 1px;
  background-color: #FAFAF9;
}

.internet-status,
.electricity-status {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 16px;
}

.icon-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.home-hub-item {
  font-family: 'Bai Jamjuree';
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: #FAFAF9;
  margin-bottom: 4px;
}

.status-value {
  font-family: 'Bai Jamjuree';
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: -0.025em;
  color: #FAFAF9;
}

.navigation-home {
  display: flex;
  height: 64px;
  top: 561px;
  gap: 0px;
  border-radius: var(--Spacingnone0) 0px 20px 20px;
  border: 2px 0px 0px 0px;
  opacity: 0px;
  background: var(--surface-surface-neutral-2, #EBEBE6);
  margin-top: 37px;
  width: 356px;
  display: flex;  
  flex-direction: row;  
  align-items: center;  
  justify-content: space-between;  
  border-radius: 0 0 20px 20px; 
  padding: 30px;
}

.nav-item {
  border-radius: 9999px; /* or 50px - both will work */
  padding: 8px 16px;
  transition: background-color 0.2s ease;
}

.nav-item.active {
  background-color: var(--surface-surface-secondary-100, #F7AB61);
}

/* small screens */
@media screen and (max-width: 480px) {
  .home-container {
    border: none;
    margin-top: -60px;
  }
 

  .bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
  }

  .navigation-home {
    display: flex;
    height: 64px;
    gap: 0px;
    opacity: 1; /* Ensure it is visible */
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100vw; /* Full width on small screens */
    left: 0; 
    padding: 0 20px;
    background: #EBEBE6;
    box-sizing: border-box;
  }
}

/* Mobile styles */
@media (max-width: 480px) {
  .main-top-card {
    max-width: 90vw; /* Slightly narrower on tablets */
    height: 186px;
    padding: 0 20px; /* More padding on tablets */
  }

  .home-analytic {
    max-width: 90vw; 
    height: 170px;/* Slightly narrower on tablets */
  }
}



/* Desktop styles */
@media (min-width: 1024px) {
  .main-top-card {
    max-width: 70vw; /* Even more narrow on desktops */
    height: 211px;
    padding: 0 20px; /* Larger padding on desktop */
  }

  /* Bottom navigation */
}
